.home-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border: 1px solid red;
}
.home-card {
  border: 1px solid orange;
}

.home-content-container {
  border: 1px solid blue;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  margin-bottom: 15px;
}

.home-content-container p {
  width: 260px;
  font-size: 0.6em;
  margin-bottom: 30px;
}

.home-image-container {
  padding: 50px 15px;
  border: 1px solid white;
}
.home-image-container svg {
  width: 100%;
  height: auto;
}

.home-login-card {
  width: 260px;
  border: 1px solid white;
}
