.review-card {
  padding: 20px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 30px;
}

.review-card input:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #9e9e9e;
  background: #fefefe;
}

.review-card input:not(:focus) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #9e9e9e;
  background: #fefefe;
}

.review-submit {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .review-card {
    width: 536px;
  }
}
@media (min-width: 768px) {
  .review-card {
    width: 688px;
  }
}
@media (min-width: 992px) {
  .review-card {
    width: 912px;
  }

  .review-submit {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .review-card {
    width: 1120px;
  }
}

@media (min-width: 1400px) {
  .review-card {
    margin-left: 130px;
  }
}
